:root {
    --back-color:#f8f8f8;
	  --main-color:#f01020;
	  --font-color:#404040;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	background-color: var(--back-color);
	color:var(--font-color);
}
.content{
	letter-spacing: 0.02em;
	font-weight: 400;
}
.content h1{
	font: Inter;
	color: #808080;
	letter-spacing: 0.4em;
}

.content li{
	margin-top: 0.5rem;
}

.content {
	margin-bottom: 5rem;
}

.content h2{
	
	font: Inter;
	color: #303030;
	font-weight: 700;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 0.05rem;
	padding-top: 0.3rem;
	
	letter-spacing: 0.1em;
}

#more_stuff h3{
	
	font: Inter;
	margin-top: 2rem;
	color: #303030;
	font-weight: 700;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 0.05rem;
	padding-top: 0.3rem;
	padding-left:1rem;
	padding-right:1rem;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem; 
	background-color:#dddddd;
	padding-bottom: 0.4rem;
	
	letter-spacing: 0.1em;
}

#more_stuff li{
	margin-bottom: 0.5rem;
}
#photojourno_pics img,#photojourno_pics video{
	height: 12.5rem;
	width: auto;
	margin-top: 1rem;
	margin-right: 1rem;
	border-radius: 1rem;
	border-width: 0.2rem;
	border-style: solid;
	border-color: black;
}
#metroid_vania video{
	
	width: 30%;
	margin-top: 1rem;
	margin-right: 1rem;
	border-radius: 10%;
	border-width: 0.2rem;
	border-radius: 0.5em;
	border-style: solid;
	border-color: black;
}

#game_sizzle{
	width:50%;
	display: block;
	vertical-align: middle;
	
	margin-top: 1rem;
	margin-right: 1rem;
	border-radius: 10%;
	border-width: 0.2rem;
	border-radius: 0.5em;
	border-style: solid;
	border-color: black;
}

#robot_video{
	width: 33rem;
	max-width:100%;
	display: block;
	vertical-align: middle;
	
	margin-top: 1rem;
	margin-right: 1rem;
	border-radius: 10%;
	border-width: 0.2rem;
	border-radius: 0.5em;
	border-style: solid;
	border-color: black;
}
#cat_pics img {
	height: 15.5rem;
	margin-top: 1rem;
	margin-right: 1rem;
	border-radius: 10%;
	border-width: 0.2rem;
	border-radius: 0.5em;
	border-style: solid;
	border-color: black;
	vertical-align: center;
}
#sad_pics img{
	height: 12.5rem;
	width: auto;
	margin-top: 1rem;
	margin-right: 1rem;
	border-radius: 10%;
	border-width: 0.2rem;
	border-radius: 0.5em;
	border-style: solid;
	border-color: black;
}

#more_stuff iframe{
	width: 30rem;
	height:  16.9rem;
		margin-top: 1rem;
	margin-right: 1rem;
	border-radius: 20%;
	border-width: 0.2rem;
	border-radius: 0.5em;
	border-style: solid;
	border-color: black;
	
}
.two_cols{
	display: flex;
}

.two_cols .left_col video,.two_cols .left_col img{
	width: 15em;
	margin-right: 2em;
	border-radius: 1rem;
	border-style: solid;
	border-color: black;
	
}

#horizontal_bars{
	width: 62rem;
	position: fixed;
	margin-top: 6em;
	height: 3.7rem;
	
	z-index: 1;
}
#horizontal_bar1{
	width: 100%;
	height: 0.1rem;
	background-color: var(--main-color);
}
#horizontal_bar2{
	width: 100%;
	height: 0.2rem;
	margin-top: 0.2rem;
	background-color: var(--main-color);
}
#horizontal_bar3{
	width: 100%;
	height: 1rem;
	margin-top: 0.2rem;
	background-color: var(--main-color);
}

#horizontal_bar4{
	width: 100%;
	height: 0.2rem;
	margin-top: 0.2rem;
	background-color: var(--main-color);
}
#horizontal_bar5{
	width: 100%;
	height: 0.1rem;
	margin-top: 0.2rem;
	background-color: var(--main-color);
}

#video_container{
	margin-top: 1em;
	padding: 0.4rem;
	margin-bottom: -10rem;
	margin-left: -0.4rem;
	width: 10em;
	height:10em;
	background-color: var(--back-color);
	border-radius: 50%;
}

#profile_video{
	width: 10em;
	border-radius: 50%;
}

#cover-box{
	width: 100vw;
	margin-top: -1em;
	padding-top: 0em;
	border-top: 0em;
	margin-left: 0em;
	height: 11.5em;
	background-color: var(--back-color);
  position: fixed;
	z-index: 1;
}
#external_links{
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	pointer-events: all;
	margin-top:  -0.0rem;
}
#external_links ul{
	list-style: none;
	width: 9rem;
	margin-left: -1.7rem;
	text-align: right;
	
}
#external_links{
	list-style: none;
	width: 9.4rem;
	margin-left: -0rem;
	padding: 0.3rem;
	padding-bottom: 3rem;
	border-radius: 0rem;
	background: transparent;
	
}
#external_links p{
	visibility: hidden;
	background: linear-gradient(0deg, grey 0%, lightblue 100%);
	border-color : var(--main-color);
	padding: 1rem;
	color: white;
	margin: 0;
	border-radius: 2rem;
}
#external_links li{
	background: #dddddd;
  border-width: 0.1rem;
	border-style: solid;
	border-color: #aaaaaa;
	padding: 0.3rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin: 0.3rem;
	letter-spacing: 0.3rem;
	border-radius: 1rem;
}

#external_links li:hover{
	cursor: pointer;
}



nav ul{
	list-style: none;
	width: 10rem;
	background-color: var(--back-color);
	padding: 0rem;
	font-size: 0.8rem;
	margin-top: 7rem;
	margin-left: 0rem;
	
}

nav li{
	border-radius: 2rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	min-height: 4rem;
	text-align: center;
	align-content: center;
	vertical-align: middle;
	background-color: var(--main-color);
}
nav li:hover{
	cursor: pointer;
	color: black;
	background-color: var(--back-color);
  transition: color 0.3s, background-color  0.3s;
}

nav .selected{
	background: linear-gradient(90deg, 
		var(--main-color) 0%,var(--back-color) 120%);
  transition: color 0.3s, background-color  0.3s;
}


/*


nav ul{
	list-style: none;
	width: 10rem;
	background-color: var(--main-color);
	padding: 0;
	font-size: 0.8rem;
	margin-top: 7rem;
	margin-left: 0rem;
	
}
nav li:hover{
	cursor: pointer;
	color: black;
	background-color: var(--back-color);
  transition: color 0.3s, background-color  0.3s;
}

nav .selected{
	background: linear-gradient(90deg, 
		var(--main-color) 0%,var(--back-color) 120%);
  transition: color 0.3s, background-color  0.3s;
}


*/
#more_tab{
	color: transparent;
}
#more_tab:hover{
	color: black;
  
}
#content_top {
	margin-left: calc(12rem);
	width: calc(100% - 12rem);
	margin-top: 10rem;
	margin-right: 0%;
	float: right;
}
#header {
	position: fixed;
	z-index: 2;
	pointer-events: none;
}
#header nav{
	pointer-events: all;
	width: 0;
	background-color: #ff00ff;
}

.left-col{
	display:inline-block;
	width: 40%;
	
vertical-align: middle;
}


.right-col{
	display:inline-block;
	width: 58%;
	margin: 0px;
	vertical-align: middle;
}
.right-col h1{
	text-transform: lowercase;
	letter-spacing: 0.3em;
	font-weight: lighter;
}

nav li{
	color: white;
	letter-spacing: 0.2em;
	border-color: beige;
	border-width: 10px;
	margin-left: 0em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1.2em;
	
	border-bottom-style: solid;
	border-bottom-width: 0.1rem;
	border-color: var(--back-color);
}
#header {
	margin-bottom: -10rem;
}


#header h1{
	text-transform: uppercase;
	font-weight: 100;
	margin-left: 11.5rem;
	letter-spacing: 0.2em;
	z-index: 5;
}

#container{
	font-size: 1rem;
	max-width: 60rem;
	margin: auto;
}
#container-help{
	position: relative;
		margin-right: 0rem;
	  margin-left: 0rem;
}

#intermission{
	background: linear-gradient(0deg, #dddddd 0%, 
		var(--back-color) 100%);
	border-top-style: solid;
	border-top-color: darkgray;
	padding: 1rem;
	padding-top:0.1rem;
	border-width: 0.1rem;
	border-radius: 2rem;
}
.posts {
	padding-top: 2em;
	max-width: 90%;
	margin: auto;
}
.postSummary:nth-child(even){
	background-color: #f0f0f0;
}
.postSummary{
	cursor:pointer;
}
.posts .title{
	letter-spacing: 0.2em;
	font-weight: 100;
	margin-bottom: 0em;
}
.posts .date{
	font-size: 0.8em;
  margin-top: 0em;
	margin-bottom: 0em;
	font-weight: lighter;
}
.posts .summary{
	margin-top: 0.1em;
}

